.Entry {
  /**********************************
    Contains:
    - Entry__Logo
    - Entry__Name
    - Entry__NumJobs
  ***********************************/
  display: flex;
  flex-direction: column;
  text-align: left;

  /**********************************
    Own properties
  ***********************************/
  /* float: left on the parent container broke centering */
  /* margin: 0 auto; */
  width: fit-content;
}

/**********************************
  Conditional margins
***********************************/
.Entry:first-child ~ .Entry {
  margin-left: 10px;
}

.Entry__Logo {
}

.Entry__Name {
  font-size: 1.1em;
  width: 128px;
}

.Entry__NumJobs {
  color: rgb(56, 56, 56);
}

.Entry__NumJobs__Num {
  color: black;
}