.EntryList {
  /**********************************
    Horizontal scrolling
  ***********************************/
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  /**********************************
    Own properties
  ***********************************/
  margin: 60px 0 0;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;

  /**********************************
    Gradient overlay
  ***********************************/
  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.EntryList__InnerContainer {
  /**********************************
    Contains:
    - Entry
  ***********************************/
  display: flex;
  flex-wrap: nowrap;
  padding: 0 20px;
  float: left;
}

/************************************************************************
  Media queries for larger screens
*************************************************************************/
@media screen and (min-width: 415px) {
  .EntryList {
    /**********************************
      Clear horizontal scrolling props
    ***********************************/
    overflow-x: initial;
    overflow-y: initial;
    -webkit-overflow-scrolling: initial;
    mask-image: initial;
    -webkit-mask-image: initial;

    /**********************************
      Subtract Entry.margin-bottom (20px)
    ***********************************/
    padding-bottom: 30px;
  }

  .EntryList__InnerContainer {
    /**********************************
      Override flex with grid
    ***********************************/
    display: grid;
    grid-template-columns: 160px 160px 160px;
    float: initial;
    /* padding: 0 20px; */
  }
}

@media screen and (min-width: 1024px) {
  .EntryList__InnerContainer {
    /**********************************
      Increase columns to 4
    ***********************************/
    grid-template-columns: 160px 160px 160px 160px;
  }
}

@media screen and (min-width: 1280px) {
  .EntryList__InnerContainer {
    /**********************************
      Increase columns by 5
    ***********************************/
    grid-template-columns: 160px 160px 160px 160px 160px;
  }
}