.EntryList {
  /**********************************
    Contains:
    - Entry
  ***********************************/
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  /**********************************
    Own properties
  ***********************************/
  margin: 60px 10px 0;
}