.EntryList {
  /**********************************
    Horizontal scrolling
  ***********************************/
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  /**********************************
    Own properties
  ***********************************/
  margin: 60px 0 0;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;

  /**********************************
    Gradient overlay
  ***********************************/
  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.EntryList__InnerContainer {
  /**********************************
    Contains:
    - Entry
  ***********************************/
  display: flex;
  flex-wrap: nowrap;
  padding: 0 20px;
  float: left;
}