.Overview {
  /**********************************
    Contains:
    - CategorySelect
    - EntryList 
  ***********************************/
  display: flex;
  flex-direction: column;
  
  /**********************************
    Properties for parent (.App)
  ***********************************/
  flex: 1 0 auto;

  /**********************************
    Own properties
  ***********************************/
  max-width: 100%;
}